<h1>Welcome!</h1>


<p>This is a little app that demonstrates Rendr.</p>
<p>Check out <a href="/topic">Popular Fashion</a>.</p>


<hr>

{{#if _session}}
	<p>{{_session.created}} <small>Your session was created</small></p>
	<p>{{_session.homeload}} <small>Your last request for the home</small></p>
{{/if}}
