<h1>Hello Stripe</h1>


<form action="" method="POST">
  <script
    src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
    data-key="pk_test_rFXHL6pZdWlRUnALxTmkdqDX"
    data-amount="2000"
    data-name="PolyRendr Demo">
  </script>
</form>

