<a href="{{clickurl}}">
	<img src="{{imgurl}}" />
</a>

<div class="cta">
	<a class="js-like btn btn-mini {{#if liked}}btn-success{{/if}}">
		<i class="icon-heart"></i>
	</a>
</div>

<ul class="unstyled meta">
	<li>{{title}}</li>
</ul>
